@model IEnumerable<TourCore.Models.ViewModels.MenuViewModel>

    <ul class="menu ml-auto mt-1">
        <li class="active"><a href="#">Trang chủ</a></li>
        @foreach (var item in Model)
        {
            <li class="active"><a href="@Url.Action("Index","Tour")">@item.Name</a></li>
        }
    </ul>
