
@{
    ViewData["Title"] = "AddStaff";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    input{
        width:50%;
        border-radius:5px;
    }
</style>
<div>
    <div class="col-3">
        <span>Tên nhân viên </span>
    </div>
    <div class="col-6">
        <input type="text" name="Name" />
    </div>
    <br />
    <div>
        <span>Địa chỉ</span>
    </div>
    <div>
        <input type="text" name="Address" />
    </div>
    <br />
    <div>
        <span>Ngày sinh</span>
    </div>
    <div>
        <input type="date" name="DOB" />
    </div>
    <br />
    <div>
        <span>Số điện thoại</span>
    </div>
    <div>
        <input type="number" name="Phone" />
    </div>
    <br />
    <br />
    <div>
        <input type="submit" value="Lưu thông tin" class="btn btn-success"/>
    </div>
</div>
